 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');   

 .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }


body {
  background-color: rgb(248,248,248);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1 {
  color: hsl(234, 12%, 34%);
}

.headings-group {
  color:rgb(0,0,0);
}

p {
  color: hsl(229, 6%, 66%);
  font-size: 15px;
}

h3 {
  color: hsl(234, 12%, 34%);
}

.items-group {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
  margin: 20px;
  text-align: left;
  height: 150px;
  width: 320px;

}

#wrapper {
  display: inline-grid;
  margin-top: 30px;
  grid-gap: 5px 5px;
}

img {
  float:right;
}

.supervisor-group{
  border-top: rgb(70, 197, 191) solid;
  grid-column: 1;
  grid-row: 3/span 2;
}

.teamBuilder-group{
  border-top: rgb(255,0,0) solid;
  grid-column: 2;
  grid-row: 2/span 2;
}

.karma-group {
  border-top: rgb(255,165,0) solid;
  grid-column: 2;
  grid-row: 4/span 2;
}

.calculator-group{
  border-top: rgb(89, 89, 187) solid;
  grid-column: 3;
  grid-row: 3/span 2;
}


@media (max-width: 650px){
  #wrapper{
    display: flex;
    flex-direction: column;
   }

   .items-group {
     height: 200px;
     width: auto;
   }
}



